@font-face {
  font-family: 'Proxima Nova Font';
  src: url('./presentation/assets/fonts/Proxima-Nova.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Font';
  src: url('./presentation/assets/fonts/Proxima-Nova-Semibold.woff') format('truetype'); /* Fuente bold */
  font-weight: bold;
  font-style: normal;
}

:root {
  font-family: 'Proxima Nova Font', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}